In [1]:
import pandas as pd
pd.read_excel("BTC-USD.xlsx").head()
BTC = pd.read_excel("BTC-USD.xlsx")
BTC

,Date,Open,High,Low,Close,Adj Close,Volume,Unnamed: 7,Price Change,UP MOVE,Down Move,Average Up,Average Down,RS,RSI
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,NaN,-32.894013,0.000000,32.894013,NaN,NaN,NaN,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,NaN,-29.644012,0.000000,29.644012,NaN,NaN,NaN,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,NaN,14.108002,14.108002,0.000000,NaN,NaN,NaN,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,NaN,-10.082978,0.000000,10.082978,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,NaN,-3120.347656,0.000000,3120.347656,664.747897,1276.095252,0.520923,-92.966798
2433,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,NaN,-304.128906,0.000000,304.128906,664.747897,1424.047176,0.466802,-115.223645
2434,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,NaN,-2918.546875,0.000000,2918.546875,620.962139,1447.441707,0.429007,-134.096612
2435,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,NaN,-628.109375,0.000000,628.109375,620.962139,1374.502704,0.451772,-122.350485
2436,2021-05-19,42673.000000,43546.117188,38787.902344,39458.335938,39458.335938,6.763069e+10,NaN,-3451.066406,0.000000,3451.066406,306.310697,1422.818810,0.215284,-365.501835

In [16]:
BTC[2430:]

,Date,Open,High,Low,Close,Adj Close,Volume,Unnamed: 7,Price Change,UP MOVE,Down Move,Average Up,Average Down,RS,RSI
2430,2021-05-13,49735.433594,51330.843750,46980.019531,49716.191406,49716.191406,9.672115e+10,NaN,565.656250,565.65625,0.000000,937.281851,1276.095252,0.734492,-37.148508
2431,2021-05-14,49682.980469,51438.117188,48868.578125,49880.535156,49880.535156,5.573750e+10,NaN,164.343750,164.34375,0.000000,658.096454,1276.095252,0.515711,-94.907024
2432,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,NaN,-3120.347656,0.00000,3120.347656,664.747897,1276.095252,0.520923,-92.966798
2433,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,NaN,-304.128906,0.00000,304.128906,664.747897,1424.047176,0.466802,-115.223645
2434,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,NaN,-2918.546875,0.00000,2918.546875,620.962139,1447.441707,0.429007,-134.096612
2435,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,NaN,-628.109375,0.00000,628.109375,620.962139,1374.502704,0.451772,-122.350485
2436,2021-05-19,42673.000000,43546.117188,38787.902344,39458.335938,39458.335938,6.763069e+10,NaN,-3451.066406,0.00000,3451.066406,306.310697,1422.818810,0.215284,-365.501835

In [3]:
import pandas as pd
pd.read_excel("ADX(NEW).xlsx").head()
ADX = pd.read_excel("ADX(NEW).xlsx")
ADX

,日期,開盤,最高,最低,收盤,最高-最低,ABS(最高-昨收),ABS(最低-昨收),"TR MAX(H,前日收)-MIN(L,前日收)",TR,...,+DM,-DM,真+DM,+DM14,真-DM,-DM14,+DI14,-DI14,DX,ADX14
0,2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,797.041015,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,4063.935547,3780.964844,282.970703,4063.935547,4063.935547,...,3554.490235,-287.595703,3554.490235,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,2556.242188,2481.291016,74.951172,2556.242188,2556.242188,...,1453.441406,-2961.134765,1453.441406,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914063,4717.462891,658.195312,4059.267579,4717.462891,4717.462891,...,-1168.339844,3329.560547,0.000000,NaN,3329.560547,NaN,NaN,NaN,NaN,NaN
4,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,4216.402344,2465.675781,1750.726563,4216.402344,4216.402344,...,997.371094,-1498.431641,997.371094,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,3975.523438,759.128907,3216.394531,3975.523438,3975.523438,...,-798.453125,2204.437500,0.000000,244.887277,2204.437500,1217.616909,6.594569,32.789203,66.511237,23.435440
135,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,5756.691406,2959.855469,2796.835937,5756.691406,5756.691406,...,-919.621094,2700.789062,0.000000,244.887277,2700.789062,1345.504185,6.123869,33.646875,69.204151,27.708772
136,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,4416.269531,167.500000,4248.769531,4416.269531,4416.269531,...,-3096.484375,1756.062500,0.000000,168.407645,1756.062500,1470.937221,4.063723,35.494120,79.454275,33.111616
137,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,3444.625000,2274.945312,1169.679688,3444.625000,3444.625000,...,-811.101563,-160.542968,0.000000,168.407645,0.000000,1228.119699,4.104624,29.933137,75.881941,37.535516
138,2021-05-19,42673.000000,43546.117188,38787.902344,39473.324219,4758.214844,636.714844,4121.500000,4758.214844,4758.214844,...,-2266.339843,3579.929687,0.000000,118.608817,3579.929687,1483.828962,2.900165,36.281857,85.196453,42.858949

In [9]:
ADX[130:]

,日期,開盤,最高,最低,收盤,最高-最低,ABS(最高-昨收),ABS(最低-昨收),"TR MAX(H,前日收)-MIN(L,前日收)",TR,...,+DM,-DM,真+DM,+DM14,真-DM,-DM14,+DI14,-DI14,DX,ADX14
130,2021-05-11,55847.242188,56872.542969,54608.652344,56704.574219,2263.890625,1012.746094,1251.144531,2263.890625,2263.890625,...,-2646.812500,-537.195313,0.000000,533.134766,0.000000,620.246931,17.155150,19.958235,7.552761,21.640857
131,2021-05-12,56714.531250,57939.363281,49150.535156,49150.535156,8788.828125,1234.789062,7554.039063,8788.828125,8788.828125,...,1066.820312,5458.117188,0.000000,475.260324,5458.117188,1010.112444,13.318562,28.307108,36.007939,20.506017
132,2021-05-13,49735.433594,51330.843750,46980.019531,49716.191406,4350.824219,2180.308594,2170.515625,4350.824219,4350.824219,...,-6608.519531,2170.515625,0.000000,475.260324,2170.515625,1060.157087,12.891990,28.757996,38.093665,19.320187
133,2021-05-14,49682.980469,51438.117188,48868.578125,49880.535156,2569.539063,1721.925782,847.613281,2569.539063,2569.539063,...,107.273438,-1888.558594,107.273438,284.003069,0.000000,1060.157087,8.047186,30.039398,57.742674,20.965615
134,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,3975.523438,759.128907,3216.394531,3975.523438,3975.523438,...,-798.453125,2204.437500,0.000000,244.887277,2204.437500,1217.616909,6.594569,32.789203,66.511237,23.435440
135,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,5756.691406,2959.855469,2796.835937,5756.691406,5756.691406,...,-919.621094,2700.789062,0.000000,244.887277,2700.789062,1345.504185,6.123869,33.646875,69.204151,27.708772
136,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,4416.269531,167.500000,4248.769531,4416.269531,4416.269531,...,-3096.484375,1756.062500,0.000000,168.407645,1756.062500,1470.937221,4.063723,35.494120,79.454275,33.111616
137,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,3444.625000,2274.945312,1169.679688,3444.625000,3444.625000,...,-811.101563,-160.542968,0.000000,168.407645,0.000000,1228.119699,4.104624,29.933137,75.881941,37.535516
138,2021-05-19,42673.000000,43546.117188,38787.902344,39473.324219,4758.214844,636.714844,4121.500000,4758.214844,4758.214844,...,-2266.339843,3579.929687,0.000000,118.608817,3579.929687,1483.828962,2.900165,36.281857,85.196453,42.858949

In [17]:
print(ADX14)

NameError: name 'ADX14' is not defined